body{
    margin: 0;
}

.main{
    background-color: #E4F9F5;
}
.mainHeading{
    margin-top: 0;
}
.middleContainer{
background-color: red;
height: 200px;
width: 200px;
}
.bottomContainer{
    background-color: black;
    height: 200px;
width: 200px;
}